<!DOCTYPE html>
<html ng-app="listaTelefonica"> <!-- Aqui eu faço a instalação do AngularJS na aplicação e crio o módulo "listaTelefonica" -->
<head>
    <meta charset="UTF-8">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> <!-- Importando o Bootstrap via CDN e não local-->
    
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .novoAlinhamento {
            text-align: left;
        }
        .selecionado td {
            background-color: rgb(255, 254, 167) !important;
            font-weight: bold;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> <!-- Importando o AngularJS via CDN e não local-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script> <!-- Importando o AngularJS Messages via CDN e não local, para exibir mensagens de validação de formulário -->
    <script>
        angular.module("listaTelefonica", ['ngMessages']); // Aqui eu crio o módulo "listaTelefonica" e adiciono a dependência "ngMessages", que é um módulo do AngularJS usado para exibir mensagens de validação de formulário. Ele permite que você mostre mensagens específicas para cada tipo de erro de validação, como campos obrigatórios, padrões de entrada, etc.
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) { //$scope é um objeto que atua como a ponte entre a lógica do JavaScript (controller) e a visualização do HTML (view).
            $scope.app = "LISTA TELEFÔNICA";
            $scope.contatos = [ // Aqui eu criei uma array de contatos, onde cada contato é um objeto com as propriedades nome, telefone e cor.
                {nome: "Ademico", telefone: "12345678", cor: "orange"},
                {nome: "Galileu", telefone: "98765432", cor: "purple"},
                {nome: "Maneco", telefone: "55555555", cor: "green"}
            ];
            $scope.operadoras = [ // Aqui eu criei uma array de operadoras, onde cada operadora é um objeto com as propriedades "nome" e "codigo". Essa array pode ser usada para exibir as operadoras disponíveis ou para associar um contato a uma operadora específica.
                {nome: "Claro", codigo: 41, categoria: "Celular"},
                {nome: "Tim", codigo: 171, categoria: "Celular"},
                {nome: "Vivo", codigo: 777, categoria: "Celular"},
                {nome: "Claro Home", codigo: 41.1, categoria: "Fixo"},
                {nome: "Tim Fibra", codigo: 171.1, categoria: "Fixo"},
                {nome: "Vivo Fibra", codigo: 777.1, categoria: "Fixo"}
            ];
            $scope.adicionarContato = function(contato) { // Aqui eu criei uma array de contatos, onde cada contato é um objeto com as propriedades "nome" e "telefone". A função "adicionarContato" recebe um contato como parâmetro, adiciona esse contato à lista de contatos usando o método "push"
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine(); // Aqui eu uso a função $setPristine para limpar o formulário, ou seja, para deixar os campos em branco e remover as mensagens de validação. Essa função é usada para resetar o estado do formulário após a adição de um contato.
            };
            $scope.apagarContatos = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };
        });
    </script>

</head>

<body ng-controller="listaTelefonicaCtrl"> <!-- Aqui eu associo o controller a uma parte do HTML. Ligo a lógica (javascript) com a interface (HTML)-->
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table ng-show="contatos.length > 0" class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Categoria</th>
                <th>Cor</th>
            </tr>
            <tr class="novoAlinhamento"
                ng-repeat="contato in contatos"
                ng-class="{'selecionado negrito': contato.selecionado}">   
                <td>
                    <input type="checkbox" ng-model="contato.selecionado"/>
                </td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.operadora.categoria}}</td>
                <td>
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                </td>
            </tr>
        </table>
        <hr/>
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="7"/> <!-- Aqui eu criei a referencia "contato", esse contato será usado para armazenar os dados de nome e telefone. Irei usa-lo na função ng-click e -push dentro do script-->
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/> <!-- A expressão regular "/^\d{4,5}-\d{4}$/" significa: ^ = início da string, \d{4,5} = 4 a 5 dígitos, - = hífen, \d{4} = 4 dígitos, $ = fim da string -->
            <select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" ng-required="true"> <!-- Aqui eu criei um select que exibe as operadoras disponíveis. Outro ponto, se eu não criar o ng-options, é inutil a utilização do ng-model-->
                <!-- Entendendo o código "ng-options" acima, eu adicionei o "group by" para grupar as categorias das operadoras em grupos no select -->
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required"> 
                Por favor, preencha o campo "Nome".
            </div>
            <div ng-message="minlength"> 
                O nome deve ter pelo menos 7 caracteres.
            </div>
        </div>
        <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
            <div ng-message="required"> 
                Por favor, preencha o campo "Telefone".
            </div>
            <div ng-message="pattern"> 
                O campo "Telefone" deve estar no formato XXXXX-XXXX.
            </div>
        </div>
        <div ng-messages="contatoForm.operadora.$error" class="alert alert-danger">
            <div ng-message="$error">
                Por favor, selecione uma operadora.
            </div>
        </div>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button> <!-- Aqui eu estou chamando a função "adicionarContato". Isso significa que ela deve estar criada dentro do meu arquivo Script ($scope)-->
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        <!-- "||" é o operador lógico "OU" -->
    </div>
    <div style="text-align: center; margin-top: 20px;">
    Criado por <strong>Arthur Mendes</strong> <!-- Eu poderiaa estar puxando esse footer de uma pasta diferente, porém, o browser edge bloqueia buscar documentos de oriens direntes. Ex.: O site está sendo exibido do index.html, porém o rodapé estava sendo puxado do arquivo footer.html-->
    </div>
</body>
</html>
